/* 
    HOMEPAGE STYLE

*/
@use "../styles.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

.section {
  /* box model */
  padding: 2rem 0;
  //border: 1px dotted blue;
  @media (min-width: 600px) {
    /* box model */
    padding: 2rem 0;
  }
}

.section__title {
  /* text */
  text-transform: uppercase;
  font-weight: 450;
  font-size: 1rem;
  font-family: "montserrat";
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-align: center;
  color: $main-color;
  //border: 1px dotted blue;
}

.large__paragraph {
  /* box model */
  padding: 1rem;
  /* text */
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 300;
  font-family: "fraunces";
  text-align: center;

  //border: 1px dotted blue;

  @media (min-width: 600px) {
    /* box model */
    padding: 2rem 4rem;
    /* text */
    font-size: 2.5rem;
    line-height: 1.4;
  }
}

.btn__more {
  /* box model */
  padding: 0.25rem 1.5rem;
  border: 2px solid $main-color;
  width: max-content;
  display: block;
  /* background */
  background-color: $main-color;
  /* text */
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: $light-color;
  /* other */
  cursor: pointer;

  &:hover {
    /* background */
    background-color: $light-color;
    /* text */
    font-size: 14px;
    text-decoration: none;
    color: $main-color;
  }

  @media screen and (min-width: 600px) {
    padding: 0.25rem 1rem;
    font-size: 14px;
  }
}

.mssbtn {
  background-color: #fff;
  color: #000;
}

/* Events */
.events {
  background-color: #97632710;
  padding: 4rem 0;
}

.events__ {
  //border: 1px dotted blue;

  padding: 1rem 0;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.75rem;
  margin-bottom: 1rem;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px dotted #3333;
  }
}

.event__date {
  display: flex;
  align-items: center;

  @media (min-width: 600px) {
    //display: block;
    flex: 0.5;
  }
}

.event__day {
  font-size: 0.75rem;
  font-weight: 400;
  margin-right: 2px;

  @media (min-width: 600px) {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 8px;
  }
}

.event__mnthyr {
  font-size: 0.75rem;
  font-weight: 400;

  @media (min-width: 600px) {
    font-size: 1rem;
  }
}

.event__name {
  line-height: 1.4;
  font-weight: 400;
  margin: 0;

  @media (min-width: 600px) {
    flex: 1;
  }
}

.event__time {
  display: flex;
  align-items: center;

  & > *:nth-child(1) {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  small {
    display: block;
  }

  @media (min-width: 600px) {
    flex: 0.5;
  }
}

.event__location {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  //border: 1px dotted blue;
  margin-bottom: 0.5rem;

  & > * {
    margin-right: 0.25rem;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  @media (min-width: 600px) {
    flex: 0.75;
    font-size: 1rem;
    margin-bottom: 0%;
  }
}

/* Ministries */

/* .srvc__time {
} */

/* Mission */
