/* 
    MISSION, VALUES & VISION...
*/

.row {
  text-align: center;
  margin: 1.5rem auto;

  @media (min-width: 600px) {
    margin: 2rem auto;
  }
  @media (min-width: 769px) {
    width: 80%;
  }

  @media (min-width: 1025px) {
    width: 50%;
  }
}

.row__title {
  font-family: fraunces;
  margin: 1rem 0;
}

.quoted {
  font-style: italic;
}

.item__value {
  margin: 1rem 0;
}
