/* 

    ABOUT US

*/

.pageHeader {
  height: max-content;
  margin: 1rem auto;
}

.logos {
  max-width: 20vw;
  margin: auto;
  height: 100%;
}

// our story
.ourStoryTitle {
  font-size: 20px;
  font-weight: 400;
}
